<!DOCTYPE html>
<html>
  <head>
    <title>Sobre mi</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Datos acerca de mi</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <p>
          soy una persona que busca aprender mas y mas acerca de las cosas que
          me gustan dentro del mundo de los idiomas, la tecnologia y la
          programacion de software.
        </p>
        <a href="/">Regresa a la pagina principal</a>
      </div>
    </main>

    <footer>
      <div class="container">
        &copy; Stackup Introduction to Back End Programming with NodeJS
      </div>
    </footer>
  </body>
</html>
